extends layout

block pageDescription
  meta(name="description" content="Contact form")

block pageContent
  main#contact
    h1 Contact me
    p You can use this form to contact me about projects for OS X, iOS, Android and Web. A simple hello is fine, too!

    if(typeof internalMessage !== "undefined")
      if(!post)
        div(class="message error") #{internalMessage}
      else
        div(class="message success") #{internalMessage}

    if(!post)
      form#post(method="POST")
        p
          input(type="text" id="name" name="name" placeholder="Name" value="#{name}" required autofocus)
        p
          input(type="email" id="email" name="email" placeholder="Email address" value="#{email}" required)
        p
          input(type="text" id="subject" name="subject" placeholder="Subject" value="#{subject}" required)
        p
          textarea(id="message" name="message" placeholder="Message (longer than 20 characters)" required) #{message}
        p
          input(type="submit" id="submit" value="Send Message")
