<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {{#is "home"}}
      <title>{{meta_title}}</title>
    {{else}}
    <title>{{meta_title}} - {{@blog.title}}</title>
    {{/is}}
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.min.css"}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}" vocab="http://schema.org">
  {{navigation}}
  <div id="site-content">
      {{{body}}}
  </div>
  {{> 'analytics'}}
</body>
</html>
